#nav-title {
    cursor: pointer;
    color: red;
}

li {
    list-style: none;
}

.list-product li {
    border: 1px solid hsl(0, 0%, 0%);
    max-width: 80px;
}

#products-item {
    height: 100vh;
    overflow-y: scroll;
}

#product-title {

    height: fit-content;
}


#product-title h1 {
    color: #252a2b;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    /* margin: 25px 30px 5px; */
    text-transform: uppercase;
}

#product-title h4 {
    color: #a3a5a7;
    display: inline;
    font-size: 12px;
    line-height: 16.8px;
}

span {
    margin: 20px 0px 5px;
    color: #252a2b;
    display: inline;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
}



.size-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #000000;
}

.size-button.black {
    background-color: #000000;
    color: #ffffff;
}

.size-button h6 {
    color: #323030;
    displayinline;
    font-family: Roboto;
    font-size: 12px;
    line-height: 40px;
    text-align: left;
}