body{
    overflow-x: hidden ;
    overflow-y: auto;
    width: 100vw;
    margin: 0;
}

body::-webkit-scrollbar{
    display: none;
}

iframe{
    margin: 0;
    padding: 0;
    border: 0;
}

.breadcrumb-container {
    padding: 25px;
    margin-bottom: 0;
    margin: 0;
    color: #fff;
    text-align: center;
    background: #fff;
    background-size: auto auto;
    background-size: cover;
    

}
.breadcrumb{
    padding-left: 0px;
}
.breadcrumb-container .title-page {
    text-transform: uppercase;
    color: #111;
    position: relative;
    font-weight: 600;
    font-size: 24px;
}


.breadcrumb-container i {
    
    padding: 0 7px;
}

.breadcrumb li {
    display: inline;
    color: #111;
}

.arrow-icon {
    width: 12px; 
    height: auto; 
    
}

.breadcrumb a[itemprop="url"] {
    color: #000; 
    font-weight: bold; 
    text-decoration: none;
}

li strong span[itemprop="title"] {
    color: rgb(161, 130, 135); 
}

.align-right-section {
    float: right; /* Align to the right */
    text-align: right; /* Make the text align to the right */
    margin-right: 20px; /* Adjust margin as needed */
}

.sort-Pagibar {
    border-radius: 5px;
    width: 99%;
    height: 10vh;
    border: 1px solid #e5e5e5;
    display: flex;
    margin-bottom: 5vh;
}

#right-sort  {
    width: 5vw;
    margin-left: 55vw;
    margin-top: 3vh;
}

#right-sort p {
    margin: 0;
}

.sortPagiBar {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 8vw;
    height: 4vh;
    margin-top: 3vh;
}

.dropbtn {
    background-color: #ffffff;
    color: rgb(32, 25, 25);
    border: none;
    cursor: pointer;
    display: inline-block;
    top: 0;
}

.dropbtn p{
    margin: 0;
    font-family: 'Oswald';
    font-size: 2.5vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background: rgb(255, 255, 255);
    text-align: left;
    width: 8vw;
    border: solid 1px black;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    font-family: 'Oswald';
    font-size: 2.5vh;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

#dropdown label {
    float: left;
    line-height: 38px;
    font-size: 14px;
    margin-right: 6px;
    margin-bottom: 0;
}

.aside-title h2 {
    background: #cdc5b7;
    padding: 8px 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
}
.aside-title h2 {
    padding-bottom: 8px;
    border-bottom: 2px solid #ebebeb;
    position: relative;
    font-size: 17px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.title-head {
    font-size: 1.14286em;
    font-weight: 700;
    color: #555;
    text-decoration: none;
    margin-top: 0;
    display: inline-block;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

.collection-category {
    width: 15%; 
    padding: 20px;
}

.main-content {
    width: 75%; 
    padding: 20px;
}

.sort-dropdown-container {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.body-products {
    width: 100vw;
    display: flex;
}

.nav
{
    width: 75%;    
}
 
.content
{
    width: 25%;   
}

.aside-title {
    width: 200px;
    height: 35px;
}
.aside-filter .filter-container {
    border: 1px solid #cdcdcd;
    border-top: none;
    padding: 10px;
    width: 209px;
    margin-bottom: 30px;
}

.categories-box {
    border: 1px solid #cdcdcd;
    border-top: none;
    padding: 10px;
    width: 209px;
    margin-bottom: 30px;
}


.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 50%;
}

.page-item {
    display: inline-block;
    margin: 0 5px;
}

.page-link {
    display: block;
    width: 30px; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc; 
    background-color: #fff; 
    color: #333; 
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #ccc; 
    color: #fff;
}

.page-item.disabled .page-link {
    cursor: not-allowed;
}

.pagination .page-item.active .page-link {
    background-color: #cdc5b7;
    border-color: #cdc5b7;
    color: #fff;
    display: block;
}

ul {
    list-style: none outside;
}
 
.aside-item.collection-category .nav-item.active>a {
    color: #cdc5b7;
}
.categories-box .lv1 li a {
    font-size: 14px;
    display: block;
}

.open-close {
    cursor: pointer;
}

#product-list {
    display: none;
}

.categories-box {
    color: black; 
}
.categories-box a {
    color: black; 
    text-decoration: none;
}


.product-info {
    text-decoration: none;
    color: black;
    text-align: center;
}


.product-info:hover {
    color: #cdc5b7; 
}

.product-box {
    position: relative;
    overflow: hidden;
    background: #fff;
    width: 21vw;
}

.product-thumbnail img {  
    top: 0;
    left: 0;
    width: 100% ;
}

/* hover */
.hover {
    display: none;
    /* position: absolute; */
}

.product-box:hover .original{
    display: none;
    /* animation: fadeout 0.7s; */
}

.product-box:hover .hover {
    display: block;
    /* animation: fadein 0.7s; */
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hover-part {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: -40px;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 6px;
}

.product-thumbnail:hover .hover-part {
    transform: translateY(-40px);
    transition: all 0.3s ease-in-out;
}

.pumpup-item {
    display: inline-block;
    color: white;
    width: 49%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: small;
}

