body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    margin: 20px;
}

.left, .right {
    flex: 1;
    height: 100%;
    margin: 0 10px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.top-line, .bottom-line {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.bottom-line{
    padding-top: 0;
}

.square {
    flex: 1;
    margin: 10px;
    position: relative;
    display: block;
    text-align: -webkit-center;
}

.image-container {
    width: 80%;
    height: auto;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.original, .hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.square:hover .original {
    /* display: none; */
    animation: fadeout 0.7s;
}

.square:hover .hover {
    display: block;
    animation: fadein 0.7s;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeout {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%; /* Set a width to contain the animation */
    height: 1050px; /* Set a fixed height for the container */
}

.right img {
    width: 100%;
    height: auto;
    overflow: scroll;
    position: absolute;
    top: 0;
}

.right::after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );
}

.right:hover::after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 1s, 1s, 0.15s;
    transition-timing-function: ease;
}

.hover-part{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: -40px;
    background-color: #121212;
    opacity: 0.5;
    border-bottom: 6px;
}   

.image-container:hover .hover-part {
    transform: translateY(-40px);
    transition: all 0.3s ease-in-out;
}

.hover-content{
    position: relative; 
    display: inline-block; 
    width: 46%; 
    text-align: center; 
    color: white; 
    top: 4px; 
    opacity: 1;
}
